@using Catalogo.Models.Pagination;
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model PagedList<Produto>

<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.HasPrevious)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, termoBusca = ViewBag.TermoBusca })">&laquo; Anterior</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">&laquo; Anterior</span>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i, termoBusca = ViewBag.TermoBusca })">@i</a>
            </li>
        }

        @if (Model.HasNext)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, termoBusca = ViewBag.TermoBusca })">Próximo &raquo;</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Próximo &raquo;</span>
            </li>
        }
    </ul>
</nav>
